{% extends "game_base.html" %}

{% block game_content %}
<div class="text-center">
    <div id="game-arena" style="width: 400px; height: 300px; background: #000; color: #fff; margin: 0 auto; position: relative;">
        <p class="py-5">Arcade Action Visualization Goes Here!<br>(Canvas implementations for Space Invaders/Pac-Man)</p>
    </div>
    <div class="mt-4">
        <button id="action-btn" class="btn btn-warning">Fire / Action</button>
    </div>
</div>
{% endblock %}

{% block game_scripts %}
<script>
    window.startGame = function() { 
        console.log("Arcade game started");
        updateScore(10);
    };
    document.getElementById('action-btn').onclick = () => updateScore(50);
</script>
{% endblock %}
