{% extends "game_base.html" %}

{% block game_content %}
<div class="text-center">
    <div id="checkers-board" class="d-inline-block border border-dark mb-4" style="width: 400px; height: 400px; background: #8B4513;">
        <p class="py-5 text-white">Checkers board visualization goes here.<br>(8x8 grid with red and black pieces)</p>
    </div>
    <div class="alert alert-info">
        Jump over opponent pieces to win!
    </div>
</div>
{% endblock %}

{% block game_scripts %}
<script>
    window.startGame = function() { console.log("Checkers started"); };
</script>
{% endblock %}
